{
  "root": true,
  "extends": [
      "next/core-web-vitals",
      "plugin:prettier/recommended",
      "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
      "prettier/prettier": "error",
      "no-console": ["warn"],
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": ["error"],
      "import/no-anonymous-default-export": [
          2,
          {
              "allowObject": true
          }
      ]
  },
  "overrides": [
      {
          "files": ["**/*.interface.ts"],
          "rules": {
              "@typescript-eslint/no-namespace": "off",
              "@typescript-eslint/no-empty-interface": "off"
          }
      },
      {
          "files": ["**/*.spec.ts"],
          "env": {
              "jest": true
          }
      }
  ]
}